/octoprint_threedpc_ui/.DS_Store
/octoprint_threedpc_ui/node_modules/
/octoprint_threedpc_ui/dist/
/octoprint_threedpc_ui/test/unit/coverage/
/octoprint_threedpc_ui/npm-debug.log*
/octoprint_threedpc_ui/yarn-debug.log*
/octoprint_threedpc_ui/yarn-error.log*
/octoprint_threedpc_ui/*.suo
/octoprint_threedpc_ui/*.ntvs*
/octoprint_threedpc_ui/*.njsproj
/octoprint_threedpc_ui/*.sln

.DS_Store
*.pyc
*.swp
.idea
.vscode
*.iml
*.egg*
*.zip
