<div id="threedpc_ui_container">
    <!-- The div below will be replaced by App component -->
    <div id="threedpc_ui_app"></div>
</div>

<script type="text/javascript" src="http://localhost:8080/app.js"></script>