



<div id=threedpc_ui_container>
    
    <div id=threedpc_ui_app></div>
</div>


        <script type=text/javascript src=/plugin/threedpc_ui/http://localhost:8080/static/js/js/manifest.dacd048fdcca942c0b6a.js></script>
        
        <script type=text/javascript src=/plugin/threedpc_ui/http://localhost:8080/static/js/js/vendor.e82d012f77d7525f3ae8.js></script>
        
        <script type=text/javascript src=/plugin/threedpc_ui/http://localhost:8080/static/js/js/app.b607e15fefbdb56e34ee.js></script>
        
